    body{
        background: #524f4f;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-container h1,h3{
        color: #3da5e2;
    }

    .container-mask{
        position: absolute;
        top: 0;
        background: #524f4f;
        width: 11rem;
        height: 5rem;
    }

    .w-outer{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #524f4f;
        width: 11rem;
        height: 11rem;
        border-radius: 50%;
        
        border-style: solid;
        border-color:#6c74e7;
        overflow: hidden;
    }

    .w-outer::after{
        content: "";
        display: block;
        position: absolute;
        width: 15rem;
        height: 15rem;
        background: #524f4f;
        border-radius: 40%;
        left: 50%;
        top: -15rem;
        transform: translateX(-50%);
        animation: fill 2.5s ease-in-out;
    }
    .w-inner{
        display: flex;
        align-items: center;
        justify-content: center;
        background: #3da5e2;
        width: 10.5rem;
        height: 10.5rem;
        border-radius: 50%;
    }

    .main-container p{
        font-size: 1.2em;
        color: #1b1b1b;
    }


    @keyframes fill{
        from{
            top: 0;
            transform: translateX(-50%) rotate(0deg);
        }
        to{
            top: -15rem;
            transform: translateX(-50%) rotate(360deg);
        }
    }